.btn btn-primary {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-secondary {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-success {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-danger {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-warning {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-info {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-light {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-dark {
    width: auto;
    margin: 2px;
    width: 100px;
}

.btn btn-linki {
    width: auto;
    margin: 2px;
    width: 100px;
}